.custom-button{
    height: 2.0rem;
    margin: 0.143rem;
    border-radius: 10%;
    border: none;
    background: #216dff;
}
.custom-button:hover{
    background: #e0edfb;
    border-color: transparent;
    color: #475569;
}
.page-selector{
    border: 1px solid rgb(202 202 202);
    border-radius: 4px;
    padding: 3px 6px;
    margin: 3px;
    font-weight: 500;
}
.custom-button-disabled{
    background: #e1e1e1;
    pointer-events: none;
    color: #888888;
}
.m-15{
    margin: 15px;
}

.icon-white {
    --slds-c-icon-color-foreground-default: white;
}